/* =================================================
   JellyFlicks Master Theme Import
   Imports all other CSS files
   ================================================= */

@import url("https://raw.githubusercontent.com/MLBgamefan/JellyFlicks/main/Theme/JellyFlicks-base.css");
@import url("https://raw.githubusercontent.com/MLBgamefan/JellyFlicks/main/Theme/JellyFlicks-cards.css");
@import url("https://raw.githubusercontent.com/MLBgamefan/JellyFlicks/main/Theme/JellyFlicks-details.css");
@import url("https://raw.githubusercontent.com/MLBgamefan/JellyFlicks/main/Theme/JellyFlicks-ui.css");
@import url("https://raw.githubusercontent.com/MLBgamefan/JellyFlicks/main/Theme/JellyFlicks-buttons.css");
@import url("https://raw.githubusercontent.com/MLBgamefan/JellyFlicks/main/Theme/JellyFlicks-hover.css");
